.main{
    margin: 20px;
}
.mail-sidebar{
    margin-top: 17px;
}
.mail-sidebar__tab{
    border-bottom: 25px solid #ECEDE8;
    border-right: 15px solid transparent;
    border-left: 0;
    height: 0;
    width: 85px;
    z-index: 10;
    margin-left: 30px;

}
.mail-sidebar__tab p{
    margin-left: 20px;
    padding-top: 3px;
}
.mail-sidebar__menu_table{
    margin-left: 10px;
    padding-top: 20px;
}
.mail-sidebar__menu table{
    width: 180px;
}

.mail-sidebar__menu td, th {
    padding: 5px; /* Поля вокруг текста */
}

.mail-sidebar__menu{
    background: #ECEDE8;
    width: 200px;
    height: 150px;
}
.mail-msglist td, th{
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    padding: 1px;
}

.mail-msglist{
    margin-top: 10px;
    border: 2px solid black;
}

.mail-msglist>tbody>tr>td, .mail-msglist>tbody>tr>th, .mail-msglist>tfoot>tr>td, .mail-msglist>tfoot>tr>th, .mail-msglist>thead>tr>td, .mail-msglist>thead>tr>th {
    padding: 1px;
    vertical-align: middle;
}

.mail-msglist th{
    background: #ECEDE8;
}
.table > tbody > tr > th{
    border-top: 1px solid black;
}
#delete-msg-button{
    margin-left: 10px;
}

/*#new-msg-button{*/
   /*margin-left: 15px;*/
/*}*/

.modal-body{
    text-align: center;
}

.modal-content{
    min-width: 640px;
    max-width: 640px;
}

.msgs-table{
    position: absolute;
    /*left: 230px;*/
    max-width: 80%;
    /*margin-top: -20px;*/
}
.check-btn{
    background-color: #ECEDE8;
    padding: 0;
    width: 20px;
    font-size: 14pt;
}
.check-col{
    width: 50px;
}
.message-show{
    max-width: 800px;
    margin-top: 20px;
}
.table-message-view > tbody > tr > td{
    border-bottom: 1px solid #ddd;
    border-top: 0px solid #ddd;
}

.form-group.buttons-block{
    margin-left: 230px;
}
.search-form {
    margin-left: -15px;
}